# name: Release

# on:
#   push:
#     tags:
#       - "v*"

# jobs:
#   build-windows:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Set up Go
#         uses: actions/setup-go@v5
#         with:
#           go-version: "1.24.5"

#       - name: Install mockery (if using go generate)
#         run: |
#           go install github.com/vektra/mockery/v2@latest
#           echo "$HOME/go/bin" >> $GITHUB_PATH

#       - name: Run go generate
#         run: go generate ./...

#       - name: Build Windows binary
#         run: |
#           mkdir -p dist
#           GOOS=windows GOARCH=amd64 go build -o dist/myapp.exe ./main.go

#       - name: Archive binary
#         run: |
#           cd dist
#           zip myapp_windows_amd64.zip myapp.exe

#       - name: Create GitHub Release
#         uses: ncipollo/release-action@v1
#         with:
#           tag: ${{ github.ref_name }}
#           artifacts: dist/*
#           token: ${{ secrets.RELEASER_TOKEN }}

name: release

on:
  pull_request:
  push:

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
      # More assembly might be required: Docker logins, GPG, etc.
      # It all depends on your needs.
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          # 'latest', 'nightly', or a semver
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Your GoReleaser Pro key, if you are using the 'goreleaser-pro' distribution
          # GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
